/*********************************
 * CSS @media projection rules (not print or screen)
 *
 * 1) projection -> slideshow mode (display one slide at-a-time; hide all others)
 * 2) screen     -> outline mode (display all slides-at-once on screen) 
 * 3) print      -> print (and print preview)
 *
 * toogle between slideshow/outline mode using t-key
 */

html,
.presentation { margin: 0; padding: 0; }

/* Slides window */


body {
	overflow: hidden;
	background-color: #000;
	color: #fff;
	-webkit-text-shadow: 0px 0px 4px #000;
	-moz-text-shadow: 0px 0px 4px #000;
	text-shadow: 0px 0px 4px #000;
	background: #4c4c4c; /* old browsers */
	background: -moz-linear-gradient(top,  #4c4c4c 0%, #000000 0%, #595959 0%, #1c1c1c 100%, #111111 100%, #2b2b2b 100%, #2c2c2c 100%, #131313 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(0%,#000000), color-stop(0%,#595959), color-stop(100%,#1c1c1c), color-stop(100%,#111111), color-stop(100%,#2b2b2b), color-stop(100%,#2c2c2c), color-stop(100%,#131313)); /* chrome,safari4+ */
	background: -webkit-linear-gradient(top,  #4c4c4c 0%,#000000 0%,#595959 0%,#1c1c1c 100%,#111111 100%,#2b2b2b 100%,#2c2c2c 100%,#131313 100%); /* chrome10+,safari5.1+ */
	background: -o-linear-gradient(top,  #4c4c4c 0%,#000000 0%,#595959 0%,#1c1c1c 100%,#111111 100%,#2b2b2b 100%,#2c2c2c 100%,#131313 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(top,  #4c4c4c 0%,#000000 0%,#595959 0%,#1c1c1c 100%,#111111 100%,#2b2b2b 100%,#2c2c2c 100%,#131313 100%); /* ie10+ */
	background: linear-gradient(top,  #4c4c4c 0%,#000000 0%,#595959 0%,#1c1c1c 100%,#111111 100%,#2b2b2b 100%,#2c2c2c 100%,#131313 100%); /* w3c */
	filter: progid:dximagetransform.microsoft.gradient( startcolorstr='#4c4c4c', endcolorstr='#131313',gradienttype=0 ); /* ie6-9 */
	
}

#slide1 { display: block; }

.notes  { display: none; } /* handout notes/note (use note? handout? notes? */


/********* format layout block
 *
 *  .layout
 *    > #header
 *    > #footer
 *    > #controls      (holding navigation controls)
 *       > #navLinks
 *          > #toggle
 *          > #navList
 *            > #jumplist
 *    > #currentSlide  (e.g. 1/7)
 *
 */

.layout { display: block; }

#header {  position: fixed;
           top: 0; left: 0;
           width: 100%; height: 0.5em;
           z-index: 1;
        }
   
#footer {  position: fixed;
           top: auto; bottom: 0;
           padding: 1em 0;   /* css note: order is => 1st top,bottom; 2nd right,left */
           width: 100%; height: 1em;
           z-index: 5;
    
           /* todo: move font-size and font-style to blank.css */    
           font-size: 100%; font-weight: bold; 
        }
  
/* todo: move font-size and font-style to blank.css */

  #footer h1 { display: block; margin: 0; padding: 0 1em; font-size: 0.5em; }
  #footer h2 { display: block; margin: 0; padding: 0 1em; font-size: 0.5em; font-style: italic; }


/*************************
 * format for navigation controls 
 */


#controls { position: fixed;
              left: 60%; bottom: 0;
              width: 40%;
              z-index: 100;
              text-align: right;
              font: bold 1.2em Verdana, Helvetica, sans-serif;
            }
  
  #controls :focus { outline: 1px dotted white;}
  
  #controls #navLinks { text-align: right; margin: 0; visibility: hidden; } 
   
  #controls #navLinks a { padding: 0; margin: 0 0.5em; cursor: pointer; border: none; }
  
  #controls #navLinks :link,
  #controls #navLinks :visited {text-decoration: none; }

  #controls #navList #jumplist { background: white; color: black; }

/*************************
 * format for 
 * currentSlide block ( e.g. 2/20 )
 */

#currentSlide { position: fixed;
                left: 45%; bottom: 1em;
                width: 10%;
                z-index: 10;
                text-align: center;
                font-size: 0.8em;
              }

#currentSlide :link,
#currentSlide :visited {  text-decoration: none; }


